<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css">
</head>

<h2><a href="/movies">Movies</a> <a href="/directors">Directors</a> <a href="/actors">Actors</a> </h2>
<br>
<h1>Add Actor</h1>

<form action="/create_actor">

  <label for="name">
    Name
  </label>
  <input type="text" id="name" name="name" placeholder="Name">

  <br>

  <label for="dob">
    Dob
  </label>
  <input type="text" id="dob" name="dob" placeholder="Dob">

  <br>

  <label for="bio">
    Bio
  </label>
  <textarea id="bio" name="bio" placeholder="Bio" rows="3"></textarea>

  <br>

  <label for="image_url">
    Image URL
  </label>
  <input type="text" id="image_url" name="image_url" placeholder="Image url">

  <br>
  
  <input type="submit" value="Create Actor" class="btn btn-primary">

</form>
